<div class="container-fluid col-md-6">
  <h3 class="text-center lead">Add Member to Racing Team</h3>
  <br />
  <!--Template Driven Form or Model Driven Form?-->
  <form (ngSubmit)="onSubmit(memberForm)">
    <div>
      <div class="row">
        <div class="col-md-6">
          <input [(ngModel)]="memberModel.firstName"
            type="text"
            class="form-control"
            id="firstName" name="firstName"
            placeholder="First Name"
          />
        </div>
        <div class="col-md-6">
          <input [(ngModel)]="memberModel.lastName"
            type="text"
            class="form-control"
            id="lastName" name="lastName"
            placeholder="Last Name"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <input [(ngModel)]="memberModel.jobTitle"
            type="text"
            class="form-control"
            id="jobTitle" name="jobTitle"
            placeholder="Job Title"
          />
        </div>
        <!--We may have to make a service call to get this list-->
        <select id="team" class="col-md-6 custom-select" [(ngModel)]="memberModel.team" name="team">
          <option *ngFor="let team of teams">{{ team.teamName }}</option>
        </select>
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input type="radio" value="Active" name="status" [(ngModel)]="memberModel.status"/> Active
          </label>
          <label class="md-check lead">
            <input type="radio" value="Inactive" name="status" [(ngModel)]="memberModel.status"/> Inactive
          </label>
        </div>
      </div>
    </div>
    <!--Disable if form is invalid-->
    <button type="submit" class="btn btn-primary pull-right">
      Save Member
    </button>
  </form>
</div>
