<div class="container-fluid">
  <div *ngIf="createFormStatus">
    <form>
      <fieldset>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input [(ngModel)]="newMember.firstName" name="firstName" type="text" class="form-control" id="fName" aria-describedby="emailHelp" placeholder="Enter First Name">
        </div>
        <div class="form-group">
          <label for="firstName">Last Name</label>
          <input [(ngModel)]="newMember.lastName" name="lastName" type="text" class="form-control" id="lName" aria-describedby="emailHelp" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
          <label for="jobTitle">Job Title</label>
          <select class="form-control" id="jTitle" [(ngModel)]="newMember.jobTitle" name="jobTitle">
            <option>Driver</option>
            <option>Reserve Driver</option>
          </select>
        </div>
        <div class="form-group">
          <label for="team">Racing Team</label>
          <select class="form-control" id="rTeam" [(ngModel)]="newMember.team" name="team">
            <option *ngFor='let team of teams' value="{{team.teamName}}">{{team.teamName}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" (click)="addUser()">Submit</button>
      </fieldset>
    </form>
  </div>
  <button id="addMemberButton" class="btn btn-primary pull-right" (click)="goToAddMemberForm()">Add Member</button>
  <table class="table">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Racing Team</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let member of members'>
        <td><a href="#/members/{{member.id}}">{{member?.id}}</a></td>
        <td>{{member?.firstName}}</td>
        <td>{{member?.lastName}}</td>
        <td>{{member?.jobTitle}}</td>
        <td>{{member?.team}}</td>
        <td>{{member?.status}}</td>
        <td>
          <button (click)="deleteMemberById(member.id)" class="btn-success">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>